* {
    background-color: rgb(56, 56, 56);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.padding-6 {
    padding: 6vh;
}

/*Navbar*/
nav {
    position: fixed;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
}

.navbar {
    /*border: 1px solid red;*/
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 2vh 6vh 2vh 100px;
    height: 11vh;
    width: 11vh;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding-right: 50px;
}

.nav-items li {
    padding-left: 100px;
}

/*Divisoria*/
.divisoria {
    margin-left: 10%;
    width: 80%;
}