* {
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fdc03c;
}

.padding-7 {
    padding: 7vh;
}

/*Navbar*/
nav {
    position: fixed;
    font-size: 28px;
    font-weight: 700;
    width: 100%;
}

.navbar {
    /*border: 1px solid red;*/
    height: 18vh;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 2vh 7vh 0vh 100px;
    height: 16vh;
    width: 26vh;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding-right: 50px;
}

.nav-items li {
    padding-left: 100px;
}

/*Divisoria*/
.divisoria {
    margin-left: 10%;
    width: 80%;
}